<div class="container">
  <div class="choose-file-wrapper">
    <h2>Bitte Csv-Datei auswählen</h2>
    <div class="file-input">
      <input
        type="file"
        #csvReader
        name="file"
        id="file"
        (change)="uploadListener($event)"
        class="file"
      />
      <label for="file">
        <b>Datei auswählen</b>
        <p class="file-name"></p>
      </label>
    </div>
  </div>
  <div class="save-file-wrapper">
    <h2>Csv-Datei speichern</h2>
    <button mat-raised-button (click)="exportAsCsv()">Export</button>
  </div>
</div>

<div class="table-wrapper">
  <h2>Inhalt Csv-Datei</h2>
  <table class="minimalistBlack" *ngIf="records.length > 0">
    <thead>
      <tr>
        <th>Betriebsnummer</th>
        <th>Nachname</th>
        <th>Vorname</th>
        <th>Pers.-Nr</th>
        <th>Datum</th>
        <th>Beginn</th>
        <th>Ende</th>
        <th>Pause</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of records; let i = index">
        <td>
          <span>{{ companyNumber }}</span>
        </td>
        <td>
          <span>{{ record.Name }}</span>
        </td>
        <td>
          <span>{{ record.Nachname }}</span>
        </td>
        <td>
          <input
            placeholder="Pers.-Nr eingeben"
            [(ngModel)]="record.PersonalNr"
            type="text"
            (keyup)="onKeypressEvent($event, record.id)"
          />
        </td>
        <td>
          <span>{{ record.Datum | date: "dd.MM.yyyy" }}</span>
        </td>
        <td>
          <span>{{ record.Von }}</span>
        </td>
        <td>
          <span>{{ record.Bis }}</span>
        </td>
        <td>
          <span>{{ record.Pause }}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
